{{!--
    Renders the definition-section of the HTML-page.
    @param {Definition[]} definitions a list of JSON-subschemas.
    @api public
--}}

{{#if definitions}}
  <h1>Schema Definitions</h1>

  {{#each definitions}}
    {{>swagger/definition title=@key anchor="/definitions" }}
  {{/each}}
{{/if}}
