{{!--
  Original work Copyright (c) 2015 Nils Knappmeier
  https://github.com/bootprint/bootprint-openapi

  Renders an array of strings as list of labels
  @param {string[]} values
--}}
{{#each values}}<span class="default-label">{{.}}</span> {{/each}}
