{{!--
  Renders a single path definition with all its methods (GET, POST).
  @param {string} path the request path
  @param {object<Operation>} pathItems a swagger [path-item-object](http://swagger.io/specification/#pathItemObject)
  @api public
--}}

<span id="path-{{htmlId path}}"></span>
{{#each pathItems}}
  {{>swagger/operation . operation=. method=@key path=../path}}
{{/each}}
