{{! Operations sorted by tags }}
{{#each tags}}
    <h1 id="tag-{{htmlId name}}" class="swagger-summary-tag" data-traverse-target="tag-{{htmlId name}}">{{name}}</h1>
    {{#if description}}
      <div class="tag-description doc-row">
        <div class="doc-copy">
          {{md description}}
        </div>
      </div>
    {{/if}}
    {{#each operations}}
      {{>swagger/operation . operation=. method=method path=path}}
    {{/each}}
{{/each}}
