{{!
Show a subschema for additionaProperties of a `object` definition.
}}
<section class="json-schema-additionalProperties">
  <span class="json-property-type">{{>json-schema/datatype}}</span>
  {{>json-schema/body}}
</section>
