{{!
renders a json-schema "items"-definition of array-types.
}}
<section class="json-schema-array-items">
  {{>json-schema/datatype .}}
  <div class="json-inner-schema">
    {{>json-schema/body}}
  </div>
</section>
