{{!
    Renders a json-schema without the surrounding panel.
    @param {boolean} showType whether or not to show the plain datatype for primitives
}}

{{#if description}}
  <section class="json-schema-description">
    {{md description}}
  </section>
{{/if}}
{{!--
{{#if example}}
  <section class="json-schema-example">
    {{printSchema example}}
  </section>
{{/if}}
--}}
{{#if type}}
  {{! Render differently depending on type}}
  {{#ifeq type 'object'}}
    {{>json-schema/type-object}}
  {{else}}
    {{#ifeq type 'array'}}
      {{#if items}}
        {{>json-schema/array-items items}}
      {{/if}}
    {{/ifeq}}
  {{/ifeq}}
{{else}}
  {{>json-schema/type-object}}
{{/if}}
{{#if allOf}}
  {{>json-schema/allOf allOf}}
{{/if}}
{{#if anyOf}}
  {{>json-schema/anyOf anyOf}}
{{/if}}
