//
//= Mixins and helpers
//

// Named sections
@mixin named-section($title) {
  &:before {
    content: $title;
    display: block;
    // @extend h6;
    margin-bottom: 0.5em;
    color: $accent-color;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

@mixin small-label($color: $alert-color) {
  @include label();
  // @extend .label.#{$style};
  background: $color;
  color: color-pick-contrast($color);
  font-size: 0.75rem;
  border-radius: 4px;
  padding: 3px 6px;
}

@mixin named-label($name, $color: $alert-color) {
  &:before {
    @include small-label($color);
    content: $name;
  }
}

// Draw a panel in a given color
@mixin swagger-panel-operation($color) {
  background-color: $color;
}

@mixin table-header($label,$width: auto) {
  width: auto;
  &:before {
    content: $label;
  }
}
