//
//= Layout variables
//

// Width of the off-canvas menu.
$drawer-size: 250px !default;

// Length of animation.
$default-transition-length: 0.5s !default;

// The width of the column padding
$column-padding: 2.25rem !default;

// The accent color to use for section headings
$accent-color: #f68b1f !default;

// The dark backgorund color behind code examples
$dark-background-color: $black !default;

// The height of the top bar
// $topbar-height: 50px !default;

// // Medium device width (from Foundation)
// $medium-width: 40em !default;
//
// // Large device width (from Foundation)
// $large-width: 64em !default;

//
// JSON schema labels

$msg-json-section-description: "Description" !default;
$msg-json-section-properties: "Properties" !default;
$msg-json-section-items: "Items" !default;
$msg-json-section-inherited: "Inherited" !default;
$msg-json-section-anyOf: "Any of" !default;
$msg-json-discriminator: "discriminator" !default;
$msg-json-read-only: "read only" !default;
$msg-json-required: "required" !default;
$msg-json-ref-prefix: "Details: " !default;
$msg-json-section-additionalProperties: "Additional properties" !default;
$msg-json-section-example: "Example" !default;

//
// Swagger labels

$msg-swagger-data-type: 'Data type' !default;
$msg-swagger-description: 'Description' !default;

$msg-swagger-section-operation-path: 'Path' !default;
$msg-swagger-section-operation-description: $msg-swagger-description !default;
$msg-swagger-section-request-params: 'Request parameters' !default;
$msg-swagger-section-request-body: 'Request body' !default;
$msg-swagger-section-responses: 'Responses' !default;

$msg-swagger-param-key: 'Key' !default;
$msg-swagger-param-name: 'Name' !default;
$msg-swagger-param-description: $msg-swagger-description !default;
$msg-swagger-param-data-type: 'Data type' !default;
$msg-swagger-param-type: 'Type' !default;

$msg-swagger-response-header-name: 'Header' !default;
$msg-swagger-response-header-description: $msg-swagger-description !default;
$msg-swagger-response-header-data-type: 'Data type' !default;

$msg-swagger-section-request-security: 'Security' !default;
$msg-swagger-request-security-scopes: 'Scopes' !default;
$msg-swagger-request-security-schema: 'Schema' !default;
$msg-swagger-security-definition-properties: 'Properties' !default;
$msg-swagger-security-definition-type-basic: '(HTTP Basic Authentication)' !default;
$msg-swagger-security-definition-type-oauth2: '(OAuth2 Authentication)' !default;
$msg-swagger-security-definition-type-apikey: '(API Key Authentication)' !default;
$msg-swagger-badge-global: 'global' !default;

$msg-swagger-response-code: 'Code' !default;
$msg-swagger-response-description: 'Description' !default;
$msg-swagger-response-schema: 'Schema' !default;
