//
//= Spectacle
//

// Include Foundation components and utilities (but don't build anything)
@import 'foundation-settings';
@import 'foundation/scss/foundation';

// Include Spectacle
@import 'index';
