{{!--
  This partial renders the documentation content
  @api public
--}}

<article>
  <h1 class="doc-title">{{info.title}}
    <span>API Reference</span>
  </h1>
   {{#unless info.x-spectacle-hide}}
    {{>swagger/introduction}}
  {{/unless}}
  {{#unless securityDefinitions.x-spectacle-hide}}
    {{>swagger/securityDefinitions}}
  {{/unless}}
  {{>swagger/x-spectacle-topics}}

  {{#if showTagSummary}}
    {{>swagger/tags}}
  {{else}}
    {{>swagger/paths}}
  {{/if}}

  {{>swagger/definitions definitions=definitions}}

  {{! Powered by link }}
  <div class="doc-row no-margin">
    <div class="doc-copy doc-separator">
      <a class="powered-by" href="https://sourcey.com/spectacle">Documentation by <span>Spectacle</span></a>
    </div>
  </div>
</article>
