{{!--
  This partial renders the documentation content
  @api public
--}}
<article>
  {{>swagger/introduction}}
  {{>swagger/securityDefinitions}}
  {{#if showTagSummary}}
    {{>swagger/tags}}
  {{else}}
    {{>swagger/paths}}
  {{/if}}
  {{!printSchema .}}

  {{!swagger/paths paths=paths}}
  {{!swagger/parameterDefinitions parameters=parameters}}
  {{!swagger/responseDefinitions responses=responses}}
  {{>swagger/definitions definitions=definitions}}

  {{! Powered by link }}
  <div class="doc-row no-margin">
    <div class="doc-copy doc-separator">
      <a class="powered-by" href="http://sourcey.com/spectacle">Documentation by <span>Spectacle</span></a>
    </div>
  </div>
</article>
