{{!--
  Renders the HTML head content
--}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{info.title}} | API Reference</title>
<link rel="stylesheet" href="stylesheets/foundation.min.css" />
<link rel="stylesheet" href="stylesheets/spectacle.min.css" />
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- <script src="javascripts/foundation.js"></script> -->
<script src="javascripts/spectacle.min.js"></script>
