{{!--
  This partial renders the main page content
  @api public
--}}
<div id="page" class="row collapse expanded">
  <div id="docs" class="medium-9 large-10 medium-push-3 large-push-2 columns">
    {{>layout/content}}
    <div class="example-box doc-content"></div>
  </div>
  <div id="sidebar" class="medium-3 large-2 medium-pull-9 large-pull-10 columns">
    {{>layout/nav}}
  </div>
</div>
