<div class="title-bar">
  <div class="title-bar-left">
    <div id="logo" class="title-bar-title">{{info.title}} <span>API Reference</span></div>
  </div>
  {{! Add right menu items like so... }}
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-open="sidebar"></button>
  </div>
  {{!--
  <div class="title-bar-right">
   <ul class="menu">
     <li><input type="search" placeholder="Search"></li>
     <li><button type="button" class="button">Search</button></li>
     <li><a href="#">curl</a></li>
     <li><a href="#">Ruby</a></li>
     <li><a href="#">JavaScript</a></li>
     <li><a href="#">PHP</a></li>
     <li><a href="#">Java</a></li>
   </ul>
 </div>
 --}}
</div>
