{{!--
    Global parameter definitions (see https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#parametersDefinitionsObject)
    @param {object<Parameter>} parameters the parameter-definitions object
    @api public
--}}
{{#if parameters}}
    <h1>Parameter definitions</h1>
    <table id="table-parameter-definitions" class="table">
        <thead>
        <tr>
            <th class="swagger-param-key"></th>
            <th class="swagger-prop-name"></th>
            <th class="swagger-prop-valueription"></th>
            <th class="swagger-param-type"></th>
            <th class="swagger-param-data-type"></th>
            <th class="swagger-param-annotation"></th>
        </tr>
        </thead>
        <tbody>
        {{#each parameters}}
            {{> swagger/parameterRow key=@key parameter=.}}
        {{/each}}
        </tbody>
    </table>
{{/if}}
 