{{!--
    Renders the response definitions
--}}
{{#if responses}}
<h1>Response definitions</h1>

<dl id="swagger-response-definitions">
    {{#each responses}}
        <dt><a name="{{key}}"></a>{{@key}}</dt>
        <dd>
            {{> swagger/response response=.}}
        </dd>
    {{/each}}
</dl>
{{/if}}
